<!-- Heading -->
<h1 i18n="heading">Update email</h1>

<!-- Update email form if not submitted yet -->
@if (!submitted) {
    <form [formGroup]="form" (ngSubmit)="submit()" id="email-update-form">
        <fieldset [disabled]="submitting.active">
            <!-- Email -->
            <div class="mb-3 row">
                <label for="email" class="col-sm-3 col-form-label colon fw-bold" i18n>Your new email</label>
                <div class="col-sm-9">
                    <input formControlName="email" type="email" class="form-control" id="email" size="45"
                           [class.is-valid]="form.controls.email.touched && form.controls.email.valid"
                           [class.is-invalid]="form.controls.email.touched && form.controls.email.invalid"
                           autocomplete="email" placeholder="user@example.com">
                    <div class="invalid-feedback" i18n>Please enter a valid email.</div>
                </div>
            </div>
            <!-- Password -->
            <div class="mb-3 row">
                <label for="password" class="col-sm-3 col-form-label colon fw-bold" i18n>Your current password</label>
                <div class="col-sm-9">
                    <app-password-input formControlName="password" [required]="true" id="password"
                                        autocomplete="current-password"/>
                </div>
            </div>

             <!-- Buttons -->
            <div class="form-footer">
                <a [routerLink]="Paths.manage.account.profile" class="btn btn-link" i18n="action">Cancel</a>
                <button [appSpinner]="submitting.active" type="submit" class="btn btn-primary" i18n="action">Save</button>
            </div>
        </fieldset>
    </form>

<!-- Email update requested message otherwise -->
} @else {
    <div @fadeInOut-slow class="text-center" id="email-update-submitted">
        <p i18n>Your email update request is submitted!</p>
        <p i18n>Please check your email and click the confirmation link in it.</p>
        <p i18n>If you don't see the email, check your Spam folder.</p>
    </div>
}
