<!-- Header -->
<header class="mb-3">
    <h1 i18n="heading">Comment properties</h1>
</header>

<div [appSpinner]="loading.active" spinnerSize="lg">
    @if (domainMeta?.domain && comment) {
        <div class="row">
            <!-- Buttons: non-deleted, moderators or own comments only -->
            @if (!comment.isDeleted && (domainMeta!.canModerateDomain || comment.userCreated === domainMeta?.principal?.id)) {
                <div class="col-sm-auto order-sm-last pb-3">
                    <!-- Approve -->
                    @if (domainMeta!.canModerateDomain) {
                        <button [appSpinner]="updating.active" [class.active]="!comment.isPending && comment.isApproved"
                                (click)="moderate(true)"
                                type="button" class="btn btn-outline-success w-100 mb-2">
                            <fa-icon [icon]="faCheck" class="me-1"/>
                            <ng-container i18n>Approve</ng-container>
                        </button>
                    }
                    <!-- Reject -->
                    @if (domainMeta!.canModerateDomain) {
                        <button [appSpinner]="updating.active" [class.active]="!comment.isPending && !comment.isApproved"
                                (click)="moderate(false)"
                                type="button" class="btn btn-outline-warning w-100 mb-2">
                            <fa-icon [icon]="faXmark" class="me-1"/>
                            <ng-container i18n>Reject</ng-container>
                        </button>
                    }
                    <!-- Delete -->
                    <button [appSpinner]="deleting.active" (click)="delete()"
                            type="button" class="btn btn-outline-danger w-100">
                        <fa-icon [icon]="faTrashAlt" class="me-1"/>
                        <ng-container i18n>Delete</ng-container>
                    </button>
                </div>
            }

            <div class="col-sm">
                <!-- Detail table -->
                <dl id="comment-detail-table" class="detail-table">
                    <!-- Permalink -->
                    <div>
                        <dt i18n>Permalink</dt>
                        <dd><a [appExternalLink]="comment.url">{{ comment.url }}</a></dd>
                    </div>
                    <!-- Parent comment -->
                    @if (comment.parentId) {
                        <div>
                            <dt i18n>Parent comment</dt>
                            <dd><a [routerLink]="['..', comment.parentId]">{{ comment.parentId }}</a></dd>
                        </div>
                    }
                    <!-- Domain page -->
                    @if (page) {
                        <div>
                            <dt i18n>Domain page</dt>
                            <dd><a [routerLink]="[Paths.manage.domains, page.domainId, 'pages', page.id]">{{ page.path }}</a></dd>
                        </div>
                    }
                    <!-- Status -->
                    <div>
                        <dt i18n>Status</dt>
                        <dd><app-comment-status-badge [comment]="comment"/></dd>
                    </div>
                    <!-- Reason for pending status -->
                    @if (comment.isPending && comment.pendingReason) {
                        <div>
                            <dt i18n>Reason for pending status</dt>
                            <dd>{{ comment.pendingReason }}</dd>
                        </div>
                    }
                    <!-- Score -->
                    <div>
                        <dt i18n>Score</dt>
                        <dd>
                            <strong [class.text-danger]="comment.score! < 0"
                                    [class.text-success]="comment.score! > 0">{{ comment.score }}</strong>
                        </dd>
                    </div>
                    <!-- Sticky -->
                    <div>
                        <dt i18n>Sticky</dt>
                        <dd><app-checkmark [value]="comment.isSticky"/></dd>
                    </div>
                    <!-- Created -->
                    @if (comment.createdTime | datetime; as v) {
                        <div>
                            <dt i18n>Created</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Created by -->
                    <div>
                        <dt i18n>Created by</dt>
                        <dd>
                            <app-user-link [user]="commenter" [userName]="comment.authorName" [linkRoute]="commenterRoute"/>
                            @if (comment.userCreated === AnonymousUser.id) {
                                <em class="ms-2" i18n>(unregistered user)</em>
                            }
                        </dd>
                    </div>
                    <!-- Author IP -->
                    @if (comment.authorIP; as v) {
                        <div>
                            <dt i18n>Author IP</dt>
                            <dd><span appCopyText class="text-copyable">{{ v }}</span></dd>
                        </div>
                    }
                    <!-- Author country -->
                    @if (comment.authorCountry; as v) {
                        <div>
                            <dt i18n>Author country</dt>
                            <dd>{{ v }} — {{ v | countryName }}</dd>
                        </div>
                    }
                    <!-- Moderated -->
                    @if (comment.moderatedTime | datetime; as v) {
                        <div>
                            <dt i18n>Moderated</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Moderated by -->
                    @if (userModerated) {
                        <div>
                            <dt i18n>Moderated by</dt>
                            <dd><app-user-link [user]="userModerated" [linkRoute]="userModeratedRoute"/></dd>
                        </div>
                    }
                    <!-- Deleted -->
                    @if (comment.deletedTime | datetime; as v) {
                        <div>
                            <dt i18n>Deleted</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Deleted by -->
                    @if (userDeleted) {
                        <div>
                            <dt i18n>Deleted by</dt>
                            <dd><app-user-link [user]="userDeleted" [linkRoute]="userDeletedRoute"/></dd>
                        </div>
                    }
                    <!-- Edited -->
                    @if (comment.editedTime | datetime; as v) {
                        <div>
                            <dt i18n>Edited</dt>
                            <dd>{{ v }}</dd>
                        </div>
                    }
                    <!-- Edited by -->
                    @if (userEdited) {
                        <div>
                            <dt i18n>Edited by</dt>
                            <dd><app-user-link [user]="userEdited" [linkRoute]="userEditedRoute"/></dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <!-- Comment text -->
        @if (comment.html) {
            <section>
                <h3 i18n>Comment text</h3>

                <!-- Tabs -->
                <ul ngbNav #commentTextTab="ngbNav" class="nav-tabs" id="comment-text-tabs">
                    <li ngbNavItem>
                        <button ngbNavLink i18n>Formatted</button>
                        <ng-template ngbNavContent>
                            <div class="comment-text" [innerHTML]="comment.html"></div>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <button ngbNavLink i18n>HTML</button>
                        <ng-template ngbNavContent>
                            <pre class="mb-0"><code [highlight]="comment.html" language="html"></code></pre>
                        </ng-template>
                    </li>
                    @if (comment.markdown) {
                        <li ngbNavItem>
                            <button ngbNavLink i18n>Markdown</button>
                            <ng-template ngbNavContent>
                                <pre class="mb-0"><code [highlight]="comment.markdown" language="markdown"></code></pre>
                            </ng-template>
                        </li>
                    }
                </ul>

                <!-- Tab content -->
                <div class="p-3 border border-top-0">
                    <div [ngbNavOutlet]="commentTextTab"></div>
                </div>
            </section>
        }
    }

    <!-- Placeholder when no data -->
    @if (!domainMeta?.domain || !comment) { <app-no-data/> }
</div>
