@import "colours";

@mixin btn-shadow {
    box-shadow: 0 0.25rem 0.375rem rgba(50, 50, 93, .11), 0 0.0625rem 0.1875rem rgba(0, 0, 0, .08);
}

@mixin btn-active-shadow {
    box-shadow: inset 0 0.25rem 0.375rem rgba(50, 50, 93, .11), inset 0.0625rem 0.1875rem rgba(0, 0, 0, .08);
}

@mixin media-breakpoint-up-sm {
    @media (min-width: 576px) {
        @content;
    }
}

// Styling for correct rendering of comment text
@mixin comment-text {
    p {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    // Do not allow Markdown-inserted images to be wider than the card
    img {
        max-width: 100%;
    }

    // Properly style inserted tables
    table {
        margin-bottom: 12px;
        vertical-align: top;
        border-color: var(--cmntr-table-border);
        caption-side: bottom;
        border-collapse: collapse;

        tbody > tr:nth-of-type(odd) > * {
            background-color: rgba(var(--cmntr-color), .05);
        }

        td, th {
            padding: 6px 9px;
            border: 1px solid var(--cmntr-table-border);
        }
    }

    code {
        font-family: monospace;
        font-size: 13px;
        white-space: pre;
    }

    pre {
        padding: 6px;
        background-color: var(--cmntr-bg-shade);
        width: 100%;
        max-height: 80vh; // 80% of the viewport max
        overflow: auto;
    }
}
