.comentario-spinner {
    position: relative;
}

.comentario-spinner::after {
    content: '';
    background:
        url("data:image/svg+xml,%3Csvg width='135' height='135' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.651 14.018q0 12.273-2.337 23.672-2.047 11.105-4.384 23.088 10.52-5.846 20.75-11.399 10.227-5.552 22.21-9.644l1.753-.584 8.183 24.548-2.339.876q-11.689 4.384-23.38 5.846-11.689 1.169-23.964 2.045 9.646 8.184 18.12 16.073 8.476 7.6 15.783 17.828l1.461 2.045-21.335 14.906-1.168-1.754q-7.013-10.52-12.273-20.75-4.97-10.52-10.23-21.624-5.26 11.105-10.52 21.625Q52.013 111.043 45 121.564l-1.17 1.754-21.334-14.906 1.46-2.045Q31.265 96.14 39.74 88.54q8.474-7.89 18.118-16.073-12.273-.876-23.964-2.045-11.69-1.462-23.378-5.846l-2.339-.876 8.183-24.547 1.753.582q11.983 4.092 22.211 9.646 10.228 5.55 20.75 11.397-2.338-11.983-4.677-23.088-2.045-11.397-2.045-23.672V11.68h26.3z' fill='%23ec8100'/%3E%3C/svg%3E")
        center/100%
        no-repeat;
    display: inline-block;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 3px solid;
    border-color: currentColor transparent;
    animation: comentario-spinner-border 1s linear infinite;
}

@keyframes comentario-spinner-border {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}
