@import "colours";

.comentario-table-container {
    max-width: 100%;
    overflow-x: auto;
}

.comentario-table {
    tr {
        &:not(:last-child) {
            border-bottom: 1px solid adjust-color($gray-6, $alpha: -0.5);
        }
        td {
            padding: 4px 8px;
        }
    }
}

