<!-- Info -->
<app-info-block>
    <ng-container i18n>Choose how your commenters can register and sign in.</ng-container>
    <app-info-icon docLink="configuration/frontend/domain/authentication/" class="ms-2"/>
</app-info-block>

<!-- Auth config -->
@if (configFormGroup) {
    <div class="mb-3 row">
        <div class="col-sm-3 colon fw-bold" i18n>Options</div>
        <div class="col-sm-9">
            <app-config-section-edit [formGroup]="configFormGroup" [config]="config" section="auth"/>
        </div>
    </div>
}

<!-- Auth methods -->
@if (methodsFormGroup) {
    <div class="mb-3 row">
        <div class="col-sm-3 colon fw-bold" i18n>Authentication methods</div>
        <div class="col-sm-9" [formGroup]="methodsFormGroup">
            <!-- Commenting without registration -->
            <div class="form-check form-switch">
                <input formControlName="anonymous" type="checkbox" class="form-check-input" id="auth-anonymous">
                <label class="form-check-label" for="auth-anonymous" i18n>Commenting without registration</label>
            </div>
            <!-- Local auth -->
            <div class="form-check form-switch">
                <input formControlName="local" type="checkbox" class="form-check-input" id="auth-local">
                <label class="form-check-label" for="auth-local" i18n>Local (password-based)</label>
            </div>
            <!-- Federated IdPs -->
            <div formArrayName="fedIdps">
                @for (idp of federatedIdps; track idp.id; let idx = $index) {
                    <div class="form-check form-switch">
                        <input #cb [formControlName]="idx" type="checkbox" class="form-check-input" [id]="'auth-' + idp.id.replace(':', '-')">
                        <label class="form-check-label" [for]=cb.id>
                            <app-idp-icon [idpId]="idp.id"/>
                            <span class="ms-1">{{ idp.name }}</span>
                        </label>
                    </div>
                }
            </div>

            <!-- SSO -->
            <div class="form-check form-switch">
                <input formControlName="sso" type="checkbox" class="form-check-input" id="auth-sso">
                <label class="form-check-label" for="auth-sso">Single Sign-On</label>
                <app-info-icon docLink="configuration/frontend/domain/authentication/sso/" class="ms-2"/>
            </div>

            <!-- SSO params -->
            @if (methodsFormGroup.controls.sso.value) {
                <div class="ms-4">
                    <!-- SSO server URL -->
                    <div class="mb-2">
                        <label for="sso-url" class="form-label colon" i18n>SSO server URL</label>
                        <input formControlName="ssoUrl" type="url" class="form-control" id="sso-url"
                               [class.is-valid]="methodsFormGroup.controls.ssoUrl.touched && methodsFormGroup.controls.ssoUrl.valid"
                               [class.is-invalid]="methodsFormGroup.controls.ssoUrl.touched && methodsFormGroup.controls.ssoUrl.invalid"
                               placeholder="https://sso.example.com">
                        <!-- Invalid feedback -->
                        <div class="invalid-feedback" i18n>Please enter a valid URL.</div>
                    </div>
                    <!-- SSO -->
                    <div class="form-check form-switch">
                        <input formControlName="ssoNonInt" type="checkbox" class="form-check-input" id="sso-non-interactive">
                        <label class="form-check-label" for="sso-non-interactive" i18n>Non-interactive</label>
                    </div>
                </div>
            }
        </div>
    </div>
}

