<div class="row row-cols-1 row-cols-lg-2 g-2">
    <!-- Stats by views -->
    <div class="col">
        <div class="card shadow-none border-0">
            <div class="card-body">
                <div class="card-title fw-bold" i18n>By views</div>
                <div class="list-group top-pages-by-views">
                    <div [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{list: pagesByViews, metric: viewsHeading}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Stats by comments -->
    <div class="col">
        <div class="card shadow-none border-0">
            <div class="card-body">
                <div class="card-title fw-bold" i18n>By comments</div>
                <div class="list-group top-pages-by-comments">
                    <div [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{list: pagesByComments, metric: commentsHeading}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #table let-list="list" let-metric="metric">
    @for (p of list; track p.id) {
        <a [routerLink]="[Paths.manage.domains, p.domainId, 'pages', p.id]" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between overflow-hidden">
                <div>
                    <!-- Domain host (md+ and only when no specific domain is given) -->
                    @if (!domainId) {
                        <span class="text-black-50 d-none d-md-inline domain-page-domain">{{ p.domainHost }}</span>
                    }
                    <!-- Page path -->
                    <span class="fw-bold domain-page-path">{{ p.path }}</span>
                </div>
                <!-- Count -->
                <div class="small text-muted domain-page-metric">{{ p.count | number }}&nbsp;{{ metric }}</div>
            </div>
            @if (p.title) {
                <div class="domain-page-title">{{ p.title }}</div>
            }
        </a>
    }
</ng-template>
