<div class="row row-cols-1 row-cols-lg-2 g-2">
    <!-- Views -->
    <div class="col">
        <!-- Numbers of views -->
        <app-metric-card [value]="totalViews" label="Views" i18n-label="metric-label|"/>

        <!-- Chart -->
        @if (chartDataViews; as d) {
            <div class="chart-container">
                <canvas baseChart type="line" [options]="chartOptionsViews" [data]="d"></canvas>
            </div>
        }
    </div>

    <!-- Comments -->
    <div class="col">
        <!-- Numbers of comments -->
        <app-metric-card [value]="totalComments" label="Comments" i18n-label="metric-label|"/>

        <!-- Chart -->
        @if (chartDataComments; as d) {
            <div class="chart-container">
                <canvas baseChart type="line" [options]="chartOptionsComments" [data]="d"></canvas>
            </div>
        }
    </div>
</div>
